openapi: 3.1.0
info:
  title: Delphi Audience Questions API
  version: v3
  x-provenance:
    generated: '2026-07-18'
    method: generated
    source: https://docs.delphi.ai/advanced/actions/api-immortal-only.md and the per-resource reference pages (audience, conversations, clone, questions, tags, usage, voice, search). Hand-built from the published REST reference; Delphi does not publish a machine-readable OpenAPI.
  description: The Delphi API lets you integrate your Digital Mind (an AI clone trained on your content) directly into your own app, platform, or workflow. Create conversations, stream text and voice responses, manage your audience and its contextual memory, organize contacts with tags, search your clone's knowledge base for RAG, and track per-user usage. API access is available on the Immortal plan. All endpoints authenticate with an API key passed in the x-api-key header and are scoped to a single clone.
  contact:
    name: Delphi Support
    email: support@delphi.ai
    url: https://docs.delphi.ai/advanced/actions/api-immortal-only
  termsOfService: https://delphi.ai/terms
servers:
- url: https://api.delphi.ai
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Questions
  description: Retrieve suggested questions configured for your clone.
paths:
  /v3/questions:
    get:
      operationId: getQuestions
      tags:
      - Questions
      summary: Get questions
      description: Retrieve the suggested questions (conversation starters) configured for your clone.
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - pinned
          - unpinned
          - all
          default: pinned
        description: Filter by pinned, unpinned, or all questions
      - name: count
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 5
        description: Number of questions to return (1-100)
      - name: randomize
        in: query
        schema:
          type: boolean
          default: false
        description: Return questions in random order
      responses:
        '200':
          description: Suggested questions
          content:
            application/json:
              schema:
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Question'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Too many requests — 120 requests per 60 seconds per API key exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
    Question:
      type: object
      properties:
        id:
          type: string
        index:
          type: integer
        question:
          type: string
        pinned:
          type: boolean
        user_edited:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key scoped to a single clone. Available on the Immortal plan; request one from support@delphi.ai.
